@media screen and (max-width:600px) {
    .primary-title, .card-title{
        font-size: 20px;
    }
    .primary-des, .card-des{
        font-size: 14px;
    }
    .header{
        width: 90%;
        margin: 0 auto;
    }
    .item-container a{
        display: none;
    }
    .item-container i{
        display:flex;
    }
    .nav-section{
        gap:40%;
    }
    .nav-container p{
        font-size: 22px;
    }
    .banner{
        width: 90%;
        margin: 0 auto;
    }
    .banner-content{
        padding-top: 30px;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-form, .tour, .d-1, .d-2, .d-3, .newsletter{
        flex-direction: column;
    }
    .form{
        width: 255px;
    }
    .tour{
        margin-left: 20px;
    }
    .tour-info{
        width: 95%;
    }
    .tour-img img{
        width: 175%;
    }
    .span{
        font-size: 20px;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        width: 90%;
        height: 176px;
        margin: 0 auto;
    }
    .card1, .card2, .card3{
        width: 90%;
        height: 330px;
        border-radius: 16px;
        padding: 40px;
    }
    .news-info{
        width: 90%;
        height: 460px;
        margin: 0 auto;
    }
    .news-img{
        width: 90%;
        margin: 0 auto;
    }
    .news-info input{
        padding: 16px 130px 16px 20px;
    }
    .discount{
        width: 210px;
        height: 78px;
        left: 35%;
        top: 74%;
    }
    .discount-1{
        font-size: 15px;
    }
    .discount-2{
        font-size: 21px;
    }
}