@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700;900&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Mulish;
}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    color: #FFF;
    border: none;
}
.primary-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.primary-des{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Header section */
.header{
    margin-bottom: 30px;
    margin-top: 20px;
}
.nav-section {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.nav-container {
    display: flex;
    align-items: center;
    width: 50%;
  }
.nav-container img {
    object-fit: cover;
  }
.nav-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
  }
.color{
    color:#FF5400;
}
.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a {
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .item-container i{
    display: none;
  }
#id{
    color: #FF5400;
}

/* main section */
/* banner part */
.banner{
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    display: block;
    text-align: center;
    margin-bottom: 0;
}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.banner-content{
    padding-top: 120px;
}
.banner-des{
    padding-top: 24px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.banner-form{
    margin-top: 30px;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
}
.form{
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    padding:16px 0px 16px 16px ;
    border: none;
}

/* tour part */
.tour{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.tour-info{
    width: 50%;
}
.tour-info p{
    line-height: 26px;
    padding: 30px 0;
}
.tour-info ul{
    margin-left: 30px;
}
.tour-info ul li{
    padding: 5px;
}
.tour-img{
    width: 50%;
}

/* Destination part */

.destination{
    max-width: 1170px;
    margin: 0 auto;
}
#one, #two{
    text-align: center;
    margin-bottom: 24px;
}
.span{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.d-1, .d-2, .d-3{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.img1{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png'), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img2{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 50%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img3{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 35%;
    height: 280px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img4{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 40%;
    height: 280px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img5{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 25%;
    height: 280px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img6{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 11.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 40%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img7{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 60%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}